$default-articles-padding-small: 6rem;

$default-articles-padding: 12.5rem;



.home-page article {
	padding-top: $default-articles-padding-small;
	padding-bottom: $default-articles-padding-small;

	@media screen and (min-width: breakpoint('tablet')) {
		padding-top: $default-articles-padding;
		padding-bottom: $default-articles-padding;
	}

}

.home__intro {
	color: palette('white');

	background-image: url('../assets/images/backgrounds/bg-circles-frase.png');
	background-color: palette('orange');
}

.home-page .container > * {
	max-width: 50rem;

	margin-right: 0;
	margin-left: auto;
}

.home__intro p,
.home__intro ul,
.home__intro h2 {
	max-width: 50rem;

	margin-right: 0;
	margin-left: auto;
}

.home__intro h2 {
	max-width: 100%;

	font-size: ms(2);
	line-height: 1;

	text-transform: uppercase;

	color: inherit;

	@media screen and (min-width: breakpoint('phablet')) {
		font-size: ms(4);
	}

	@media screen and (min-width: breakpoint('tablet')) {
		font-size: ms(6);
	}
}

.home__donate {
	$bg: palette('green', 'dark');

	color: text-contrast($bg, palette('white'));

	background-color: $bg;
}

.subtitle {
	font-size: ms(-1);
	color: palette('white');
	padding-right: 0.9375rem;
}

.subtitle a {
	color: palette('white');
}

.home__donate h2 strong {
	background-color: palette('orange');
	border-radius: $rounded-corner;
	padding: $gutter * 0.5;


	@media (max-width: 490px) {
		display: inline-block;
		padding: $gutter * 0.4;
		font-size: ms(4);
		white-space: nowrap;
	}

	@media (max-width: 320px) {
		padding: $gutter * 0.2;
	}
}

.home__donate .donation-form[class] {
	margin-right: auto;
	margin-left: auto;
	max-width: 33.75rem;
}

.donation-nav[class] {
	color: palette('green', 'light');

	@include link-undercover{
		color: palette('green', 'light');
		text-decoration: underline;
	}

	text-decoration: underline;
	font-weight: 800;
	background: none;
	margin-right: 0;
	text-transform: lowercase;
	display: block;
	margin-top: $leading * 1rem;
	margin-bottom: $leading * 1rem;
}

.donation-nav--rewind[class] {
	float: left;

	&::before {
		content: '< ';
	}
}

.donation-nav--forward[class] {
	text-decoration: underline;
	color: palette('green', 'light');
	float: right;
	font-size: ms(1);

	&::before {
		content: '> ';
	}
}

.home__donate ul {
	clear: both;
	padding: 0;
	font-size: ms(1);
	font-weight: 800;
	margin-bottom: $leading * 1rem;

	@media screen and (min-width: breakpoint('phablet')) {
		font-size: ms(2);
	}

}

.home__donate li {
	display: inline;
	position: relative;
	margin-right: 2em;

	opacity: 0.4;

	&::before {
		content: none;
	}
}

.home__donate li.active {
	opacity: 1;

	&::before {
		content: '\2022';
		position: absolute;
		width: 1em;
		left: 50%;
		margin-left: -0.5em;
		text-align: center;
		top: -1em;
	}

}

.home__knowMore {
	background-position: center bottom;
	background-image: url('../assets/images/backgrounds/img-saibamais--320.jpg');

	&[class] {
		padding-bottom: 200px;
	}

	@media screen and (min-width: 480px) {
		background-image: url('../assets/images/backgrounds/img-saibamais--480.jpg');

		&[class] {
			padding-bottom: 320px;
		}
	}

	@media screen and (min-width: 640px) {
		background-image: url('../assets/images/backgrounds/img-saibamais--640.jpg');

		&[class] {
			padding-bottom: 420px;
		}
	}

	@media screen and (min-width: 1024px) {
		background-image: url('../assets/images/backgrounds/img-saibamais--1024.jpg');
		min-height: 683px;

		background-position: left bottom;
		&[class] {

		padding-bottom: $default-articles-padding-small;

		@media screen and (min-width: breakpoint('tablet')) {
			padding-bottom: $default-articles-padding;
	}

		}
	}

	@media screen and (min-width: 1280px) {
		background-image: url('../assets/images/backgrounds/img-saibamais--1280.jpg');
	}
}

.home__goals {
	$bg: palette('gray', 'light');

	background-color: $bg;
}
