$default-articles-padding-small: 5rem;

$default-articles-padding: 9.375em;

.home-page article {
	padding-top: $default-articles-padding-small;
	padding-bottom: $default-articles-padding-small;

	@media screen and (min-width: breakpoint('tablet')) {
		padding-top: $default-articles-padding;
		padding-bottom: $default-articles-padding;
	}

}

.home__intro {
	color: palette('white');

	background-image: url('../assets/images/backgrounds/bg-circles-frase.png');
	background-color: palette('orange');
}

.home-page .container > * {
	max-width: 50rem;

	margin-right: auto;
	margin-left: auto;
}

.internal-container {
	max-width: 70rem;

	margin-right: auto;
	margin-left: auto;
}

.home__intro p,
.home__intro ul,
.home__intro h2 {
	max-width: 50rem;

	margin-right: 0;
	margin-left: auto;
}

.home__intro h2 {
	margin-top: 0;
	max-width: 100%;

	font-size: ms(2);
	line-height: 1;

	text-transform: uppercase;

	color: inherit;

	@media screen and (min-width: breakpoint('phablet')) {
		font-size: ms(4);
	}

	@media screen and (min-width: breakpoint('tablet')) {
		font-size: ms(6);
	}
}

.home__intro h2,
.home__knowMore h2,
.home__goals h2,
.home__faq h2,
.home__donors h2 {
	margin-bottom: $leading * 1.2rem;
}

.home__donate {
	$bg: palette('green', 'dark');

	color: text-contrast($bg, palette('white'));

	background-color: $bg;
	background-image: url('../assets/images/backgrounds/bg-doacao__320w.jpg');
	background-position: center center;
	background-repeat: repeat;
	background-size: cover;

	@media screen and (min-width: 480px) {
		background-image: url('../assets/images/backgrounds/bg-doacao__640w.jpg');
	}

	@media screen and (min-width: 640px) {
		background-image: url('../assets/images/backgrounds/bg-doacao__960w.jpg');
	}

	@media screen and (min-width: 960px) {
		background-image: url('../assets/images/backgrounds/bg-doacao__1280w.jpg');
	}

	@media screen and (min-width: 1280px) {
		background-image: url('../assets/images/backgrounds/bg-doacao.jpg');
	}
}

.subtitle {
	font-size: ms(-1);
	color: palette('white');
	padding-right: 0.9375rem;
}

.subtitle a {
	color: palette('white');
}

.home__donate .donation-form[class] {
	margin-right: auto;
	margin-left: auto;
	max-width: 33.75rem;
}

.campaign-progress {
	margin-bottom: 0;
}

.home__donate ul {
	clear: both;
	padding: 0;
	font-size: ms(1);
	font-weight: 800;

	@media screen and (min-width: breakpoint('phablet')) {
		font-size: ms(2);
	}
}

.head_steps{
	margin-bottom: 0px;
}

.home__donate li {
	display: inline;
	position: relative;
	margin-right: 2em;
	display: none;

	&::before {
		content: none;
	}
}

.home__donate li.active {
	display: block;
	font-size: ms(0);

	&::before {
		// content: '\2022';
		position: absolute;
		width: 1em;
		left: 50%;
		margin-left: -0.5em;
		text-align: center;
		top: -1em;
	}
}

.home__knowMore {
	background-color: palette('white');

	background-position: center bottom;
	background-image: url('../assets/images/backgrounds/img-saibamais--320.jpg');

	&[class] {
		padding-bottom: 200px;
	}

	@media screen and (min-width: 480px) {
		background-image: url('../assets/images/backgrounds/img-saibamais--480.jpg');

		&[class] {
			padding-bottom: 320px;
		}
	}

	@media screen and (min-width: 640px) {
		background-image: url('../assets/images/backgrounds/img-saibamais--640.jpg');

		&[class] {
			padding-bottom: 420px;
		}
	}

	@media screen and (min-width: 1024px) {
		background-image: url('../assets/images/backgrounds/img-saibamais--1024.jpg');
		min-height: 1550px;

		&[class] {

			padding-bottom: $default-articles-padding-small;

		}
	}

	@media screen and (min-width: 1280px) {
		min-height: 750px;
		background-image:
		url('../assets/images/backgrounds/img-saibamais-1280-mar.jpg'),
		url('../assets/images/backgrounds/img-saibamais-1280-edu.jpg');
		background-position: left bottom, right bottom;
	}

	@media screen and (min-width: 1500px) {
		min-height: 750px;
		background-image:
		url('../assets/images/backgrounds/img-saibamais-1350-mar.jpg'),
		url('../assets/images/backgrounds/img-saibamais-1350-edu.jpg');
		background-position: left bottom, right bottom;
	}
}

.home__goals {
	$bg: palette('section', 'green');

	background-color: $bg;
}

.italic-text {
	font-style: italic;
}

.bigger-text {
	font-size: ms(1);
	font-weight: 800;
}

#home__donors {
	$bg: palette('section', 'green');
	background-color: $bg;

	& h2 {
		color: palette('green');
	}
}

#doar h2 {
	margin-bottom: $leading * 1rem;
}
