.site-header {

	color: palette('white');

	background-image:
		url('../assets/images/backgrounds/bg-circles-destaque-gd.png'),
		url('../assets/images/backgrounds/bg-circles-destaque-pq.png'),
		url('../assets/images/backgrounds/img-destaque--320.jpg');

	background-position: right 90%, left bottom, top center;
	background-size: auto, auto, cover;
	background-color: palette('gray', 'dark');

	@media screen and (min-width: 480px) {
		background-image:
		url('../assets/images/backgrounds/bg-circles-destaque-gd.png'),
		url('../assets/images/backgrounds/bg-circles-destaque-pq.png'),
		url('../assets/images/backgrounds/img-destaque--480.jpg');
	}

	@media screen and (min-width: 600px) {
		background-image:
		url('../assets/images/backgrounds/bg-circles-destaque-gd.png'),
		url('../assets/images/backgrounds/bg-circles-destaque-pq.png'),
		url('../assets/images/backgrounds/img-destaque--600.jpg');
	}

	@media screen and (min-width: 768px) {
		background-image:
		url('../assets/images/backgrounds/bg-circles-destaque-gd.png'),
		url('../assets/images/backgrounds/bg-circles-destaque-pq.png'),
		url('../assets/images/backgrounds/img-destaque--768.jpg');
	}

	@media screen and (min-width: 800px) {
		background-image:
		url('../assets/images/backgrounds/bg-circles-destaque-gd.png'),
		url('../assets/images/backgrounds/bg-circles-destaque-pq.png'),
		url('../assets/images/backgrounds/img-destaque--800.jpg');
	}

	@media screen and (min-width: 960px) {
		background-image:
		url('../assets/images/backgrounds/bg-circles-destaque-gd.png'),
		url('../assets/images/backgrounds/bg-circles-destaque-pq.png'),
		url('../assets/images/backgrounds/img-destaque--960.jpg');
	}

	@media screen and (min-width: 1200px) {
		background-image:
		url('../assets/images/backgrounds/bg-circles-destaque-gd.png'),
		url('../assets/images/backgrounds/bg-circles-destaque-pq.png'),
		url('../assets/images/backgrounds/img-destaque--1200.jpg');
	}

	@media screen and (min-width: 1400px) {
		background-image:
			url('../assets/images/backgrounds/bg-circles-destaque-gd.png'),
			url('../assets/images/backgrounds/bg-circles-destaque-pq.png'),
			url('../assets/images/backgrounds/img-destaque.jpg');
	}

	@media screen and (min-width: 1600px) {
		background-image:
			url('../assets/images/backgrounds/bg-circles-destaque-gd.png'),
			url('../assets/images/backgrounds/bg-circles-destaque-pq.png'),
			url('../assets/images/backgrounds/img-destaque--1600.jpg');
	}
}

.header-container {
	min-height: 25em;
	height: 90vh;
	max-width: $max-width;
	margin-right: $gutter;
	margin-left: $gutter;
	margin-right: auto;
	margin-left: auto;
}

.site-label {

	max-width: $max-width;
	margin: auto;
	position: absolute;
	text-align: center;
	left: 50%;
	top: 45%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	width: 100%;

	@media screen and(min-width: breakpoint('desktop')) {
		text-align: right;
		padding-right: $gutter;
		padding-left: $gutter;
	}
}

.site-header h1 {
	margin: 0;
	padding: 0;
	line-height: $leading * 0.5em;

	.vue-typer .custom.char.typed {
		color: palette('orange');
	}

	.vue-typer .custom.caret {
		width: 5px;
		background-color: palette('orange');
		transform: rotateZ(12deg);
	}

	@media (min-width: breakpoint('wide')) {
		&::after {
			background-image: url('../assets/images/icons/ic-play-video.png');
			background-position: center center;
			background-size: auto 45px;
			float: right;
			width: 98px;
			height: 98px;
			height: 98px;
			margin-left: 20px;
			margin-top: 0.1em;
			border-radius: 50%;
			background-color: black;
			opacity: 0.8;
			content: '';
		}
	}

//  @media (min-width: breakpoint('wide')) {
// 		&::after {
// 			background-image: url('../assets/images/icons/ic-play-video.png');
// 			background-position: center center;
// 			background-size: auto 50px;
// 			float: right;
// 			width: 90px;
// 			height: 90px;
// 			border-radius: 50%;
// 			background-color: black;
// 			opacity: 0.8;
// 			content: '';
// 		}
// 	}
}

a.call-to-action {
	color: palette('green', 'menu');
	font-size: ms(2);
	text-decoration: none;
	font-weight: 800;
	font-style: italic;
	text-transform: uppercase;

	@media screen and (min-width: breakpoint('phablet')) {
		font-size: ms(4);
	}


}
