menu,
nav {
	display: table;

	font-weight: 800;

	text-transform: uppercase;
	margin-top: $gutter * 1;
}

menu ul,
menu ol,
nav ul,
nav ol {
	text-align: center;
	display: table-row;

	margin: 0;
	padding: 0;

	list-style: none;
}

menu li,
nav li {
	display: table-cell;

	margin-left: $gutter * 0.5;
	margin-right: $gutter * 0.5;
	margin-top: $gutter * 0.2;
	margin-bottom: $gutter * 0.2;

	&::before {
		content: none;
	}

	@media screen and (min-width: breakpoint('desktop')) {
		font-size: ms(1);
		padding-left: $gutter * 1;
		padding-right: $gutter * 1;
		padding-top: $gutter * 0.2;
		padding-bottom: $gutter * 0.2;
	}

}
li.donate-nav {
	color: palette('green', 'menu');
}


.donate-nav a {
	border: 2px solid palette('green', 'menu');
	padding-top: $gutter * 0.1;
	padding-bottom: $gutter * 0.1;

	border-radius: 10px;

	@media screen and (min-width: breakpoint('tablet')) {
		padding-left: 0;
		padding-right: 0;

	}

	@media screen and (min-width: breakpoint('desktop')) {
		font-size: ms(1);
		padding-left: $gutter * 0.5;
		padding-right: $gutter * 0.5;
		padding-top: $gutter * 0.2;
		padding-bottom: $gutter * 0.2;
	}

	&:link:focus,
	&:focus,
	&:active {
		background-color: palette('green', 'menu');
		color: palette('gray', 'x-dark');
	}

}

menu a,
nav a {
	@include link-undercover;

	display: block;

	overflow: hidden;

	&:link {
		text-decoration: none;
	}

	&:hover,
	&:focus,
	&:active {
		text-decoration: underline;
	}
}

.current > a {
	pointer-events: none;
}

/* access
---------------------------------------------------------------------------- */
.skip-links {
	padding: 0;
	margin: 0;

	border: 0;
}

.skip-links li {
	padding: 0;
}

.skip-links a {
	@include visually-hidden--focusable;
}

/* pagination
---------------------------------------------------------------------------- */
.pagination {
}

.pagination__current {
}

.pagination__previous {
}

.pagination__next {
}

/// .menu-controller styles
///
/// @group helpers
///
/// @example html
/// <label for="menu-controller" onclick>menu</label>
///

[for='menu-controller'] {
	&::before {
		font-size: 2em;
		line-height: 0.75;
		font-family: sans-serif;

		vertical-align: middle;

		content: '\20\2261\20';
	}

	@media screen and (min-width: breakpoint('toggle-menu')) {
		display: none;
	}
}
