/* checkboxes and radio buttons
---------------------------------------------------------------------------- */
/**
 * All checkboxes and readio buttons as list-items
 * <li><label for="id">label</label> <input type="checkbox" id="id" /></li>
 */
fieldset ol,
fieldset ul {
	padding: 0;
	margin: 0;
}

.of-radios-and-checks {
	@include clearfix;

	font-size: ms(2);
	color: palette('white');
	margin-right: $gutter * -0.5;
	margin-left: $gutter * -0.5;

	font-weight: 800;
}

.of-radios-and-checks button,
.of-radios-and-checks input {
	font-weight: inherit;

	&:hover,
	&:focus {
		outline: 0;
	}
}

.of-radios-and-checks .input-wrapper {
	display: block;
	width: 33.33333%;
	float: left;

	padding-right: $gutter * 0.5;
	margin-bottom: $gutter;
	padding-left: $gutter * 0.5;

	white-space: nowrap;

	list-style-type: none;
	overflow: hidden;

	&::before {
		content: none;
	}
}

.of-radios-and-checks .input-wrapper--full-width {
	width: 100%;
}

.of-radios-and-checks .has-real-value {
	background-color: palette('white');
	border-radius: $rounded-corner;
	color: palette('text', 'dark');
	float: none;
	margin-right: $gutter * 0.5;
	margin-left: $gutter * 0.5;
	padding-top: $leading * 1rem;
	padding-bottom: $leading * 1rem;
	position: relative;
	width: auto;
}

.of-radios-and-checks label {
	display: block;

	padding: $leading * 1rem 0;
	white-space: nowrap;
	text-align: center;
	font-weight: inherit;
	background-color: palette('green');
	border-radius: $rounded-corner;
	font-size: inherit;
	position: static;
	color: inherit;
}

.of-radios-and-checks label:hover {
	background-color: palette('orange');
}

.of-radios-and-checks :checked + label {
	background-color: palette('orange');
}

.has-real-value label {
	display: inline;
	background-color: transparent;
	padding: 0;

	&:hover,
	&:focus {
		color: inherit;
		background-color: transparent;
	}
}

.has-real-value [type='text'] {
	color: inherit;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	color: transparent;
	background: transparent;
	margin: 0;
	padding: 0;
}

.has-real-value .real-value {
}

.has-real-value [type='button'] {
	border: 0;
	background-color: palette('gray');
	color: palette('white');
	padding-right: $gutter * 0.5;
	padding-left: $gutter * 0.5;
	position: absolute;
	top: $leading * 1rem;
	right: $gutter * 0.5;
	z-index: 2;
}

[type='checkbox'],
[type='radio'] {
	display: none;

	&:hover {
	}

	&:focus {
		outline-style: auto; /* 4 */
	}
}

[type='radio'] {
	&:indeterminate {
	}

	&:checked {
	}
}

[type='checkbox'] {
	&:checked {
	}
}

[disabled] + label,
:disabled + label {
	cursor: default;

	color: palette('disabled', 'foreground');
}

.checkbox-custom{
	@include clearfix;

	color: palette('white');
	padding-right: 0.9375rem;
}

.checkbox-custom [type="checkbox"] {
	display: inline-block;
}

.checkbox-custom label {
	position: relative;
	color: palette('white');
	line-height: 0;
}

.checkbox-custom label a {
	color: inherit;
}