.home__faq {
	$bg: palette('white');
	color: text-contrast($bg, palette('white'));
	background-color: $bg;

	& h2 {
		color: palette('green');
		margin-bottom: 2.5em;
	}
}

.faq-group li {
	list-style: none;
}

.home__faq details {
	margin-bottom: 2em;
}

.home__faq details > summary {
	margin-bottom: 1em;
	color: palette('black');
	font-weight: 600;
	font-size: 1.1rem;

	@media (min-width: breakpoint('desktop')) {
		font-size: 1.25rem;
	}
}

.home__faq summary + p {
	margin-left: 1.5em;
}
