.donation-form h2 {
	color: palette('white');
	font-size: ms(3);
}


.payment-confirmation-message {
	margin-top: 1em;
	text-align: center;
	font-weight: 800;
	text-transform: uppercase;
	font-size: ms(1);
}

.payment-final-message {
	font-size: ms(1);
	text-align: center;
}

.chosen-value-title {
	font-size: ms(3);
	margin-bottom: 0;
	color: palette('white');
	display: inline-block;

}

.donation-form-title {
	@include inline-block-wrapper;
	margin-bottom: 0;
}

.donation-form-title h2 {
	@include inline-block-item;
	border-radius: $rounded-corner;
	padding-right: 0.5em;
	vertical-align: baseline;
	margin-bottom: 0;
	font-size: ms(3);

	&:last-child {
		background-color: palette('orange');
		padding-top: $gutter * 0.5;
		padding-bottom: $gutter * 0.5;
		padding-left: $gutter * 0.5;
		padding-right: $gutter * 0.5;
		white-space: nowrap;
	}

}

.home__donate .head-steps {
	margin-bottom: 0;

	:first-child {
		margin-bottom: 0;
		font-weight: 800;
		font-size: ms(0);
	}
}

.head-steps li {
	margin-bottom: 0.5em;
	font-weight: 800;
	display: none;
}

.instructions-donation {
	margin-top: $leading * 0.5em;
	margin-bottom: 0.5em;
}

.instructions {
	margin: 0;
	display: block;
	font-weight: 800;
	font-size: ms(0);
}

.certiface-link {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}


#final-message-payment {
	text-align: center;
}

.certiface-verify {
	display: table;
}

.certiface-verify h3 {
	color: palette('white');
}

.certiface-verify div {
	text-align: center;
	color: palette('white');
}
