.donation-form h2 {
	color: palette('white');
	font-size: ms(3);
}


.payment-confirmation-message {
	text-align: center;
	font-weight: 800;
	text-transform: uppercase;
	font-size: ms(1);
}

.payment-final-message {
	font-size: ms(1);
	text-align: center;
}

.chosen-value-title {
	font-size: ms(3);
	margin-bottom: 0;
	color: palette('white');
	display: inline-block;

}

.donation-form-title {
	@include inline-block-wrapper;
}

.donation-form-title h2 {
	@include inline-block-item;
	border-radius: $rounded-corner;
	padding-right: 0.5em;
	vertical-align: baseline;
	margin-bottom: 0;
	font-size: ms(3);

	&:last-child {
		background-color: palette('orange');
		padding-top: $gutter * 0.5;
		padding-bottom: $gutter * 0.5;
		padding-left: $gutter * 0.5;
		padding-right: $gutter * 0.5;
		white-space: nowrap;
	}

}
