.embed-container {
	padding-bottom: (9 / 16 * 100%);

	height: 0;
	overflow: hidden;
	position: relative;
}

.embed-container iframe {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
